footer{
  padding:20px;
  margin-top:20px;
  color:FF00FF42;
  background-color:#FF55FFD5;
  text-align: center;
}

h2{
color:#FF0042FF;
}

nav{
color:blue;
}
body{
bbackground-color:gradient:orange,grey;
}
h1{
color:orange;
text-align: center;
}

